<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'style.css'%}">

  </head>


    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'index' %}">Homepage</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="{%url 'studentreg'%}">Register</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="{%url 'admin:index'%}">Login</a>
        </li>


        </ul>
      </nav>

    <body id="two">
      {%block body_block%}

      {%endblock%}
    </body>
