<!DOCTYPE html>
{%extends 'base.html'%}
 {%block body_block%}
    <div class="container">
      <h1>Welcome to PoojithaBalaji Institute of science and Technology</h1>
      <h4>Manipal Institute of Technology (MIT) Manipal</h4>
      <h4>Degree: BTech</h4>
      <h5>Specializations Offered (18)</h5>
      <h6>Specializations</h6>
      <ul>
        <li>Chemical stream: Biotechnology (BT), Chemical (CH)</li>
        <li>Civil stream: Civil (CV)</li>
        <li>Computer Stream: Computer & Communication (CC), Computer Science (CS), Data Science (DS), Information Technology (IT), Artificial Intelligence & Machine Learning</li>
        <li>Electrical Stream: Biomedical (BM), Electrical & Electronics (EE), Electronics & Communication (EC), Electronics & Instrumentation (EI), Media Technology (MD)</li>

        <li>Mechanical Stream: Aeronautical (AE), Automobile (AU), Industrial & Production (IP), Mechanical (ME), Mechatronics (MT)</li>
      </ul>


    </div>

{%endblock%}
